* {
    margin: 0px;
    padding: 0px;
}

nav {
    width: auto;
    padding: 10px 20px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    height: auto;
}

#navBar {
    /* border: 1px solid blue; */
    display: flex;
    gap: 3%;
    margin: auto;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 40px;

}

#navBar div:nth-child(1) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 12%;
}

#navBar div:nth-child(2) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 45%;


}

#navBar div:nth-child(3) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 40%;
}

#navBar ul {
    /* border: 1px solid rgb(19, 19, 20); */
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    font-size: 22px;
    list-style: none;
    color: black;

}

#navBar div:nth-child(3) ul {
    gap: 5%;
    justify-content: end;

}


a {
    text-decoration: none;
    color: black;
}

a:hover {

    text-decoration: underline;
    color: rgb(96, 59, 230);
}

img {
    width: 100%;

    /* border: 1px solid rgb(231, 173, 14); */
}

#banner1 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 10%;
    padding: 0px 40px;
    height: 500px;
    margin-left: 40px;
    /* border: 1px solid rgb(231, 14, 14); */
}

#banner1 div:nth-child(1) {
    width: 50%;
    /* border: 1px solid rgb(14, 108, 231); */

}

#banner1 div:nth-child(1) div {
    width: 100%;
    /* margin: 0px 20px; */
    /* flex-wrap: wrap; */
    font-size: 22px;
    margin-bottom: 40px;
    /* border: 1px solid rgb(14, 198, 231); */
}

#banner1 div:nth-child(1) div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    gap: 8%;
    align-items: stretch;
    width: 80%;
    /* border: 1px solid rgb(231, 14, 141); */
}

#h4 {
    color: #767699;
}

#btn-1 {
    background-color: #5c00b5;
    color: white;
    border: none;

}


#banner1 div:nth-child(1) div:nth-child(3) div button {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    height: 50px;
    border-radius: 50px;
    width: 100%;
}


#banner1 div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(14, 231, 141); */
}

#banner1 div:nth-child(2) div:nth-child(2) {
    font-size: 25px;
    align-items: center;
    /* border: 1px solid rgb(14, 231, 141); */
}


.top {

    width: 80%;
    display: flex;
    gap: 20%;
    padding: 0px 40px;
    height: 800px;
    /* border: 1px solid rgb(14, 231, 141); */
    font-size: 22px;
    margin-bottom: 20px;
    justify-content: flex-start;
    margin-left: 40px;
    margin-bottom: 120px;
}

.top>div:nth-child(1) {
    width: 100%;
    /* border: 1px solid pink; */
    gap: 10%;
    font-size: 25px;
    padding-left: 20px;

}

.top>div:nth-child(1) h1 {
    /* font-size: 25px; */
    gap: 10%;
    margin-bottom: 20px;
}

.top>div:nth-child(1) h4 {
    font-size: 20px;
    color: #767699;
}

.top>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8%;

}

.top>div:nth-child(2) div {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px 40px;
}

.top>div:nth-child(2) div h2 {
    margin-bottom: 20px;
}

.top>div:nth-child(2) div h4 {
    margin-bottom: 20px;
}

.top>div:nth-child(2) div span {
    justify-content: flex-end;
    align-items: flex-end;

}

.top>div:nth-child(2) div span a {
    color: #5c00b5;
}

.top>div:nth-child(2) img {
    width: 30%;
}

#upper-mid {
    margin-top: 40x;
    /* border: 1px solid pink; */
    text-align: center;
}

#upper-mid h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

#upper-mid h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #767699;
}

#upper-mid~div ul {
    display: flex;
    gap: 6%;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;
    padding: 20px 0px;
    color: #767699;

}

#upper-mid~div ul a {
    color: #767699;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.mid_part {
    display: flex;
    margin-top: 40px;
    width: 60%;
    gap: 10%;
    margin: auto;
    margin-bottom: 50px;
}

.mid_part>div:nth-child(1) h1 {
    margin-bottom: 16px;
    font-size: 30px;
}

.mid_part>div:nth-child(1) h4 {
    margin-bottom: 16px;
    font-size: 22px;
    color: #767699;
}

.mid_part>div:nth-child(1) span a {
    margin-bottom: 16px;
    margin-top: 15px;
    color: #5c00b5;
    font-size: 22px;
}

.mid_part>div:nth-child(1) ol li {
    margin-bottom: 16px;
    margin-left: 12px;
    font-size: 20px;
    color: #767699;

}

.ban_2 {
    display: flex;
    margin: auto;

    /* border: 1px solid brown; */
}

.ban_2 div:nth-child(1) {
    padding-left: 80px;
}

.ban_2>div:nth-child(2) {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin: auto;
    align-items: stretch;
    height: 280px;
    /* border: 1px solid blue;  */
    color: blue;
    padding: 20px 0px;
}

.ban_2>div:nth-child(2)>h1 {
    margin-bottom: 40px;
    text-align: center;
}

.ban_2 div:nth-child(2)>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    
    margin: auto;
}
/* #one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    
    /* margin: auto; */
    */ 
/* inside box krna  */
/* .bottom img {
    width: 2%;
} */

.bottom {
    display: flex;
    margin-top: 80px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
}
.bottom >div:nth-child(1){
    width: 60%;
    border: 1px solid rgb(187, 255, 0);
 
    height: 500px;
    /* margin: auto; */
}
.bottom >div:nth-child(2){
    width: 30%;
    border: 1px solid rgb(187, 255, 0);
}

.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}

.footer ul {
    display: flex;
    flex-direction: column;

}
#footer-img img {
    margin-left: 90%;
    width: 40px;
    height: 40px;
}